/* prettier-ignore */

:root {
  /* colors, from https://github.com/carbon-design-system/carbon/blob/master/packages/colors/scss/mixins.scss */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary-10: #edf5ff;
  --color-primary-20: #d0e2ff;
  --color-primary-30: #a6c8ff;
  --color-primary-40: #78a9ff;
  --color-primary-50: #4589ff;
  --color-primary-60: #0f62fe;
  --color-primary-70: #0043ce;
  --color-primary-80: #002d9c;
  --color-primary-90: #001d6c;
  --color-primary-100: #001141;

  --color-gray-10: #f4f4f4;
  --color-gray-20: #e0e0e0;
  --color-gray-30: #c6c6c6;
  --color-gray-40: #a8a8a8;
  --color-gray-50: #8d8d8d;
  --color-gray-60: #6f6f6f;
  --color-gray-70: #525252;
  --color-gray-80: #393939;
  --color-gray-90: #262626;
  --color-gray-100: #161616;

  /* layout */
  --layout-content-max-width: 48rem;
  --layout-sidebar-width: 8rem;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  color: var(--color-black);
}
a:visited {
  color: inherit;}
}

div { 
  box-sizing: border-box;
}

/* system */
div.icon24 {
  width: 1.5rem;
  height: 1.5rem;
}

div.icon24 svg {
  width:1.5rem;
  height: 1.5rem;
}

.container {
  width: 100%;
  max-width: var(--layout-content-max-width);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* rooset-document */
.rooset-document {}
.rooset-document h1, .rooset-document h2, .rooset-document h3 {
  font-family: serif;
  margin-top: 0;
}
.rooset-document section {
  font-family: serif;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* for comparing 2 document */
.rooset-document section ins {
  background-color: #acf2bd;
  text-decoration: none;
}
.rooset-document section del {
  background-color: #fdb8c0;
  text-decoration: line-through;
}

/* editor */
.editor__section {
  display: flex;
  align-items: top;
  border-bottom: 1px solid var(--color-gray-30);
}
.editor__section--dimmed {
  opacity: 0.6;
}
.editor__section-tools {
  width: 14rem;
  display: inline-block;
  padding-top: 1rem;
}
.editor__section-tools-conflicting-section {
  font-style: italic;
  font-size: 0.8rem;
}
.editor__doc-tools {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-gray-30);
  padding-bottom: 1rem;
}
.editor__doc-tools-left {
  flex: 1 1 auto;
  width: 100%;
}
.editor__doc-tools-right {
  flex: 0 0 auto;
}
.editor__section-body {
  width: 30rem;
  display: inline-block;
}

/* navbar */
.navbar {
  height: 2rem;
  background: var(--color-gray-90);
  color: var(--color-white);
  display: flex;
}
/* hide items with this class on screens with less than full width content*/
@media screen and (max-width: 56rem ) {
  .navbar__sidebar_padding{
    display: none !important;
  }
}
.navbar__content {
  display: flex;
  flex: 1 1 auto;
}
.navbar__left {
  flex: 1 1 auto;	
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__title {
  /* TODO: ellipsis not working */
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}
.navbar__right {
  flex: 0 0 auto;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .icon24 svg {
  fill: var(--color-white);
}

/* toolbar */
.toolbar {
  box-sizing: border-box;
  background: var(--color-gray-20);
  width: 100%;
  margin-bottom: 1rem;
}
.toolbar__title {
  line-height: 2.5rem;
}
.toolbar__tab_container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.toolbar__tab {
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}
.toolbar__tab.toolbar__tab--active {
  background: var(--color-white);
  border-top: 0.25rem solid var(--color-black);
}
