/* prettier-ignore */

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.11") format("woff2"),
       url("Inter-Regular.woff?v=3.11") format("woff");
}

:root {
  --breakpoint-width-desktop: 64em;
}

/* utilities */

/* note: 64em is the lg pure-css width */

/* only show items with this class on mobile screens */
@media screen and (min-width: 64em) {
  .hide-on-desktop {
    display: none !important;
  }
}

/* hide items with this class on mobile screens */
@media screen and (max-width: 64em) {
  .hide-on-mobile {
    display: none !important;
  }
}

.rooset-document {}

.rooset-document h1, .rooset-document h2, .rooset-document h3 {
  font-family: serif;
  margin-top: 0;
}

.rooset-document section {
  font-family: serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* for comparing 2 document */
.rooset-document section ins {
  background-color: #acf2bd;
  text-decoration: none;
}
.rooset-document section del {
  background-color: #fdb8c0;
  text-decoration: line-through;
}

.editor__section--dimmed {
  opacity: 0.5;
}
.editor__section-tools {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.icon24 {
  width: 24px;
  height: 24px;
}

div.icon24 svg {
  width:24px;
  height: 24px;
}
