/* prettier-ignore */

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.11") format("woff2"),
       url("Inter-Regular.woff?v=3.11") format("woff");
}

:root {
  --breakpoint-width-desktop: 64em;
}

/* Material UI icons. Copy-pasted from: https://google.github.io/material-design-icons/#icon-font-for-the-web */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("MaterialIcons-Regular.woff2") format('woff2'),
    url("MaterialIcons-Regular.woff") format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* end material UI icons */


/* utilities */

/* note: 64em is the lg pure-css width */

/* only show items with this class on mobile screens */
@media screen and (min-width: 64em) {
  .hide-on-desktop {
    display: none !important;
  }
}

/* hide items with this class on mobile screens */
@media screen and (max-width: 64em) {
  .hide-on-mobile {
    display: none !important;
  }
}

