@import '../../node_modules/office-ui-fabric-react/dist/sass/_Fabric.Color.Variables.scss';
@import '../../node_modules/office-ui-fabric-react/dist/sass/_Fabric.Typography.Variables.scss';

div.container {
  width: 980px;
  margin-left: auto;
  margin-right:auto;
}

.site-header {
  margin-left: auto;
  margin-right: auto;
  background-color: $ms-color-black;
  color: $ms-color-white;

  font-size: $ms-font-size-l
}
